/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.mySlides {
  margin: 1rem auto; /* horizontal align center in div */
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

img {
  width: 100%; /* Make it occupy 100% of the size of the <div> */
  min-width: 30rem; /* Give it a minimum size so that it will wrap 
                         instead of just shrinking */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 768px) {
  .text {
    font-size: 11px;
  }
}
