@charset "utf-8";

/* 기본 CSS */

/* 헤더 영역 CSS */

.main_text {
  text-align: center;
}

.hdGnb {
  display: flex;
  justify-content: right;
  font-size: 12px;
}

.hdGnb li {
  line-height: 1rem;
  font-family: "Gill Sans";
  list-style: none;
  padding-left: 0px;
  margin-left: 2rem;
}

.hdGnb li a {
  color: black;
}

/* 슬라이더 영역 CSS */
.slider img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Main 영역 */
.main_text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1em;
  background-color: pink;
}
.table-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
}
.table-wrap img {
  width: 100%;
  max-width: 100%;
}

/* 푸터 영역 CSS */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 8px 12px;
}

.footer_info {
  color: white;
}

.footer_info_cscenter {
  color: white;
}

.footer_info_refund {
  color: white;
}

/* 태블릿용 CSS navbar */
@media screen and (max-width: 768px) {
  /*vertical*/
  .table_wrap {
    position: relative;
    padding-top: 42px;
  }
}
