@charset "utf-8";

/* 기본 CSS */
body {
  margin: 0;
  font-family: "Source Sans Pro";
  padding: 1em 1%;
}

/* 헤더 영역 CSS */

a {
  text-decoration: none;
  color: white;
}

.main_text {
  text-align: center;
}

.hdGnb {
  display: flex;
  justify-content: right;
  font-size: 12px;
}

.hdGnb li {
  line-height: 1rem;
  font-family: "Gill Sans";
  list-style: none;
  padding-left: 0px;
  margin-left: 2rem;
}

.hdGnb li a {
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #263343;
  padding: 0.5rem 10rem;
}

.navbar_logo {
  justify-content: left;
}

.navbar_logo a {
  font-size: 2rem;
  color: rgb(233, 12, 12);
}

.navbar_logo i {
  color: #d49466;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 4rem;
}

.navbar_menu li {
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 1rem;
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 18px 24px;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d46666;
}

/* 슬라이더 영역 CSS */
.slider img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Main 영역 */
.table-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
}
.table-wrap img {
  width: 100%;
  max-width: 100%;
}

/* 푸터 영역 CSS */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 8px 12px;
}

.footer_info {
  color: white;
}

.footer_info_cscenter {
  color: white;
}

.footer_info_refund {
  color: white;
}

/* 태블릿용 CSS navbar */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-srart;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  /*vertical*/
  .table_wrap {
    position: relative;
    padding-top: 42px;
  }
}
