<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.myapp.persistence.BoardService_Mapper">

<insert id="boardInsert" parameterType="HashMap">
insert into board(depth,nlevel,b_subject,b_content,b_member_id,b_member_name,b_pw,ip,viewcount)
values(0,0,#{subject},#{contents},#{b_member_id},#{b_member_name},#{pwd},#{ip},0)
</insert>

<select id="boardSelectAll" parameterType="HashMap" resultType="bv">
select * from board where del_yn='N'
order by bidx desc, depth limit #{f_str},#{e_str}

</select>

<select id="boardTotalCount" parameterType="scri" resultType="Integer">
select count(*) as cnt from board where del_yn='N'
</select>

<select id="boardSelectOne" parameterType="Integer" resultType="bv">
select * from board where del_yn='N' and bidx = #{bidx}
</select>

</mapper>