
@charset "utf-8";

/* 모바일용 CSS */
/* 기본 CSS */


/* 슬라이더 영역 CSS */
/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  align-content: center;
}


.mySlides img {
  width: 100%; 
  min-width: 30rem; 
  height: auto;
  text-align: center;
}



/* Main 영역 */
.main_text {
  display: flex;
  justify-content: center;
  width: 93.9%;
  padding: 1em;
  background-color: pink;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.table-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
}
.table-wrap img {
  width: 100%;
  max-width: 100%;
}

/* 푸터 영역 CSS */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #263343;
  padding: 8px 12px;
}

.footer_info {
  color: white;
}

.footer_info_cscenter {
  color: white;
}

/* 태블릿용 CSS navbar */
@media screen and (max-width: 768px) {
  /*vertical*/
  .table_wrap {
    position: relative;
    padding-top: 42px;
  }
  
  .main_text {
    font-size: 0.8em;
  }
  
  .slider img {
  	width: 50%; 
	}
	
  .footer {
	font-size: 50%;
  }
}
